<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
  <alias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
  <alias alias="external"  type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
  <alias alias="transient" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity" />
  <alias alias="LoggingInterceptionBehavior" type="Common.Logging.LoggingInterceptionBehavior,Common" />
  <alias alias="CachingInterceptionBehavior" type="Common.Caching.CachingInterceptionBehavior,Common" />
  <alias alias="CommonExceptionInterceptionBehavior" type="Common.Exception.CommonExceptionInterceptionBehavior,Common" />

  <!--<alias alias="INotificationManager" type="Notification.Core.NotificationManager.INotificationManager,Notification.Core" />
  <alias alias="INotification" type="Notification.Core.NotificationManager.Notification.INotification,Notification.Core" />

  <namespace name="Notification.Core" />
  <assembly name="Notification.Core" />-->

  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,Microsoft.Practices.Unity.Interception.Configuration" />


  <container>
    <extension type="Interception" />


  </container>

</unity>